---
layout: archive
author_profile: true
---

{% include base_path %}
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3> -->
<h3 class="archive__subtitle">About me</h3>
I am currently a graduate student at The University of Chicago, Department of Statistics advised by 
Professor <a href="https://galton.uchicago.edu/~jianding/">Jian Ding</a>.


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
