---
layout: archive
author_profile: true
---

{% include base_path %}
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3> -->
<h3 class="archive__subtitle">About me</h3>
<table class="wide">
<tr>
<td class="left">
<br><b> Kushal K Dey </b>
<br> PhD,
<br> Dept of Statistics
<br> University of Chicago
<br><i> Matthew Stephens Lab </i>
<br>
<br> <b> Research Interest </b>: Statistical Genomics, Clustering,
                           <br> Markov Chains, Meta Analysis, Shrinkage
			   <br> Metagenomics, Phylogenetics
</td>
</tr>
</table>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
