---
layout: archive
author_profile: true
---

{% include base_path %}
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3> -->
<h3 class="archive__subtitle">About me</h3>
I am currently a Ph.D. student at The University of Chicago, <a href = "http://galton.uchicago.edu/">Department of Statistics</a> working 
under the guidance of Professor <a href="https://galton.uchicago.edu/~jianding/">Jian Ding</a>. I obtained my Bachelors and Masters 
degree in Statistics from the <a href="http://www.isical.ac.in/">Indian Statistical Institute</a>, Kolkata in the years 2009 and 
2011 respectively. Before joining The University of Chicago I worked for a year in <a href="https://www.operasolutions.com/">Opera Solutions 
and Management Consultancy Pvt. Ltd</a> as an analytics specialist.


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
